*{
  margin:0;
}

.app{
    background-color: #f8f8f8;
    height:100vh;
}
.app_posts{
  padding:15px;

}
.app_header{
  background-color: white;
  padding:20px;
  border-radius: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;

}

.app_headerImage{
  
  object-fit: contain;
  

}

.app_form{
  display:flex;
  flex-direction: column;
  align-items: center;
}